.modal-header{
    padding: 5px 10px;
    background: black;
}
.modal-title{
    font-size: 18px;
    color: white;
}
.modal-footer{
    padding: 5px 10px;
}
.actionbtncontainer{
    display: flex;
    align-items: center;
}
.actionbtncontainer>button{
    border:0;
    margin: 0 5px;
    font-size: 14px;
}