.key{
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
}
.value{
    font-size: 14px;
    font-family: sans-serif;
}
.productimgcontainer{
    width: 100px;
    height: 100px;
    overflow:hidden;
    text-align: center;
}
.productimgcontainer img{
    max-width: 100%;
    object-fit: contain;
    max-height: 100%;

}